.testimonial__container {
    margin: 2rem 0;
}
.testimonial__card {
    background-color: var(--container-color);
    padding: 1.25rem 1.5rem;
    border-radius: 1.5rem;
    margin-bottom: 3rem;
}
.testimonial__img {
    width: 70px;
    border-radius: 4rem;
    margin-bottom: 1rem;
}
.testimonial__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 0.25rem;
}
.testimonial__description {
    font-size: var(--small-font-size);
}
.swiper {
    padding: 15px !important;
}
