.work__container {
    padding-top: 1rem;
}
.work__filters {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;
    margin: 2rem 0;
}
.work__item {
    cursor: pointer;
    color: var(--title-color);
    padding: 0.25rem 0.75rem;
    font-weight: var(--font-medium);
    border-radius: 0.5rem;
}
.work__card {
    background-color: var(--container-color);
    padding: 1rem;
    border-radius: 1rem;
}
.work__img {
    border-radius: 1rem;
    margin-bottom: 0.75rem;
}
.work__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 0.25rem;
}
.work__button {
    width: max-content;
    color: var(--first-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
}
.work__button:hover .work__icon {
    transform: translateX(0.25rem);
}
.work__icon {
    font-size: 1rem;
    transition: 0.4s;
}
.active__work {
    background-color: var(--first-color);
    color: var(--body-color);
}
